@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-image: url("../images/jmjones-comming-soon-bgd.jpg");
  min-height: 100vh;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #636569;
}

h2 {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #636569;
}

h3 {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #636569;
}

h4 {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #636569;
}

h5 {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #8dc6e8;
}

h6 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #8dc6e8;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #898a8d;
}

a {
  font-family: 'Open Sans', sans-serif;
  color: #898a8d;
  font-weight: 700;
}

@media only screen and (min-width: 38em) {


  .text-right-large {
    text-align: right;
  }

  .text-left-large {
    text-align: left;
  }

  .small-heading-large {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .no-space-large {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .gutter-1 {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }

  .large-social {
    height: 32px;
    width: 32px;
  }

  .no-top-bottm {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

}
