@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #636569;
}

h2 {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #636569;
}

h3 {
  font-family: var(--font-secondary);
  color: #8dc6e8;
}

h4 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #8dc6e8;
}

h5 {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #8dc6e8;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #898a8d;
}
